.header{
        background-color: #034676;
    background-image: url(../public/img/header-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4.5em;
    width: 100vw;
    height: 65vh;
}
.blue{
    background-color: #034676;

}
.he{
    background-color: #1996d7;
    box-shadow: 0 18px 47px 0 rgb(4 70 120 / 25%);
    margin: 0 60px -2em 0
    
}
.sec{

    border-radius: 10px;
    background-color: #1996d7;
    box-shadow: 0 18px 47px 0 rgb(4 70 120 / 25%);
    padding: 1em;
    margin: 0 60px -2em 0;
    position: relative;
    left: 15%;
    bottom: 140px;
    display: flex;
    /* align-items: center; */
    /* text-align: left; */
    justify-content: space-around;
    margin: 140px;
    width: 50%;
    z-index: 90;
}
.lm{
    line-height: 1.75em;
    margin: 1em 0;
    width: 60%;
}